{%extends 'base.html' %}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h5>Employer Home {{request.user}}</h5>

        <form action="" method="post">
            {%csrf_token%}
<!--            {{form.as_p}}-->
<!--            <input type="submit" value="reset">-->
            <input type="password" name="pwd1" placeholder="enter new password">
            <input type="password" name="pwd2" placeholder="confirm password">
            <input type="submit" value="verify">

        </form>
    </div>
    <div class="col-4"></div>

</div>
{%endblock%}